unidecode==1.1.1

# Dev tools
black==19.3b0
coverage==4.5.3
coveralls==1.8.1
flake8==3.7.7
flake8-black==0.1.0
flake8-comprehensions==2.1.0
flake8-eradicate==0.2.0
flake8-isort==2.3
hypothesis==4.24.6
nox==2019.5.30
pylint==2.3.1
pytest==5.0.0
twine==1.13.0
wheel==0.33.4
